<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Congratulations</title>
        <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
    </head>
    <body>
      <nav th:fragment="navbar" class="navbar navbar-expand-md bg-dark navbar-dark">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" th:href="@{/}">Restaurants Voting System</a>
        </div>
       
    </div>    
</nav>
      	<center>
            <h5>Congratulations! Your account has been activated and email is verified!</h5>
            <a class="nav-link" th:href="@{/all}">Start Voting</a></li></h5>
        </center>
       
       
  
       
    </body>
</html> 