<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Register</title>
         <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
         <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
		<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
		<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    </head>
    <body>
    <nav th:fragment="navbar" class="navbar navbar-expand-md bg-dark navbar-dark">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" th:href="@{/}">Restaurants Voting System</a>
        </div>
        <ul class="nav navbar-nav">
          
          	<li><a class="nav-link" th:href="@{/register}">Invite</a></li>
            <li><a class="nav-link" th:href="@{/createSession}">CreateSession</a></li>
            <li><a class="nav-link" th:href="@{/endSession}">EndSession</a></li>
            <li><a class="nav-link" th:href="@{/generatedResult}">GeneratedResult</a></li>

             
        </ul>
    </div>    
</nav>
    	<div>
  		
    		<center>
            <h5><span>"Stop all sessios. Maximum votting restaurant is selected and send emails to users"</span></h5>
            
        	</center>
    	</div>
        
    </body>
</html>