<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Register</title>
         <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
         <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
		<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
		<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    </head>
    <body>
    <nav th:fragment="navbar" class="navbar navbar-expand-md bg-dark navbar-dark">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" th:href="@{/}">Restaurants Voting System</a>
        </div>
        <ul class="nav navbar-nav">
          
            <li><a class="nav-link" th:href="@{/confirm-account-vote}">Session</a></li>

             
        </ul>
    </div>    
</nav>
    	<div>
  		
    		<form action="#" th:action="@{/register}" th:object="${userEntity}" method="post">
            <table>
                <!-- 
                <tr>
                    <td><label for="firstName">First Name</label></td>
                    <td><input th:field="*{firstName}" type="text" name="firstName"></input></td>
                </tr>
                <tr>
                    <td><label for="lastName">Last Name</label></td>
                    <td><input th:field="*{lastName}" type="text" name="lastName"></input></td>
                </tr>
                <tr>
                    <td><label for="password">Password</label></td>
                    <td><input th:field="*{password}" type="password" name="password"></input></td>
                </tr>
                 -->
                 <tr>
                    <td colspan=2><span th:text="${message}"></span></td>
                   
                </tr>
                <tr>
                </tr>
                <tr>
                    <td><label for="emailId">Email</label></td>
                    <td><input th:field="*{emailId}" type="text" name="emailId"></input></td>
                </tr>
                
                <tr>
                    <td><input type="reset" value="Clear"/></td>
                    <td><input type="submit" value="InviteToJoin"></input></td>
                </tr>
            </table>
        </form>
    	</div>
        
    </body>
</html>