<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>voting</title>
        
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />

</head>
<body>



<nav th:fragment="navbar" class="navbar navbar-expand-md bg-dark navbar-dark">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" th:href="@{/}">Restaurants Voting System</a>
        </div>
        <ul class="nav navbar-nav">
          
            <li><a class="nav-link" th:href="@{/confirm-account-vote}">Voting</a></li>

            <li><a class="nav-link" th:href="@{/}">Result</a></li>    
        </ul>
    </div>    
</nav>
       
       <!-- 
       	<table>   
     	
        <tr th:each="data : ${list}">
            <td><span th:text="${data.name}"> Name </span></td>
            <td><span th:text="${data.location}"> Location </span></td>
        </tr>
       </table>
        -->
       <center>
            <h5>Voting Regulation: you are allowed to vote one time!!</h5>
           
        </center>
       
       
    <form th:action="@{/process-selected}" th:object="${selectedItems}" method="post">
        <table>
            <tr th:each="item : ${list}">
                <td>
                    <input type="checkbox" th:id="${'checkbox_' + item.restaurantID}" th:value="${item.restaurantID}" name="selectedItems"/>
                </td>
                <td th:text="${item.name}"></td>
                <!-- Add more columns as needed -->
            </tr>
        </table>
        <button type="submit">Submit</button>
    </form>
</body>
    
 <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
       
</body>
</html> 